<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<title>Rota Principal</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body>
	<h1>Rota Principal</h1>

</body>
</html>